/*== Containers ==*/
.wrapper {
  margin-right: auto;
  margin-left: auto;

  padding: 0 25px;
}
.section {
  padding: 35px 0;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    padding: 0 50px;
  }
}

/*== Responsive Elements ==*/

.regular-screen {
  display: initial;
}

.small-screen {
  display: none;
}

@media only screen and (max-width: 600px) {
  .regular-screen {
    display: none;
  }
  .small-screen {
    display: initial;
  }
}

/*== Flex ==*/
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

/*== Screen Size ==*/

.full-width {
  width: 100%;
}

.screen-height {
  height: initial;
}

@media only screen and (min-width: 900px) {
  .screen-height {
    height: 100vh;
  }
}
