/*== Text Input ==*/
.input-text span {
  font-family: "Consolas";
  color: var(--matrix-light-green);
}

.input-text input,
.input-text textarea {
  background: none;
  outline: none;
  color: var(--matrix-light-green);
}

.input-text input {
  max-width: 350px;
  padding: 0 10px;
  border: none;
}

.input-text textarea {
  width: 100%;
  height: 275px;
  padding: 10px;
  resize: none;
  border: 1px solid var(--matrix-light-green);
}

/*== Radio Button ==*/

.rb-group {
  padding: 5px 0;
  margin-bottom: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.rb-group input {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: -3px;
  opacity: 0;
  cursor: pointer;
}

.rb-group input:checked ~ .checkmark {
  background-color: var(--matrix-light-green);
}

.checkmark {
  height: 20px;
  width: 20px;
  border: 1px solid var(--matrix-light-green);
}

.rb-group label {
  color: var(--matrix-light-green);
}
